<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-running"></i>
        <h5 class="text-center">Running</h5>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-walking"></i>
        <h5 class="text-center">Walking</h5>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-biking"></i>
        <h5 class="text-center">Cycling</h5>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-swimmer"></i>
        <h5 class="text-center">Swimming</h5>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-skiing-nordic"></i>
        <h5 class="text-center">Elliptical</h5>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-dumbbell"></i>
        <h5 class="text-center">Strength Training</h5>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-clock"></i>
        <h5 class="text-center">Circuit Training</h5>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-cogs"></i>
        <h5 class="text-center">Core Strength</h5>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fa fa-user fast-me"></i>
        <h5 class="text-center">Arc Trainer</h5>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fa fa-ship fast-me"></i>
        <h5 class="text-center">Rowing</h5>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-hiking"></i>
        <h5 class="text-center">Hiking</h5>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-bicycle"></i>
        <h5 class="text-center">Mountain Biking</h5>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">  
      <div class="card" style="width: 100%">
        <i class="fas fa-skating"></i>
        <h5 class="text-center">Skating</h5>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-skiing-nordic"></i>
        <h5 class="text-center">Nordic Walking</h5>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-skiing"></i>
        <h5 class="text-center">XC Skiing</h5>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-skiing"></i>
        <h5 class="text-center">Downhill Skiing</h5>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-snowboarding"></i>
        <h5 class="text-center">Snow-Boarding</h5>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mb-2">
      <div class="card" style="width: 100%">
        <i class="fas fa-wheelchair"></i>
        <h5 class="text-center">Wheelchair</h5>
      </div>
    </div>
  </div>
</div>