/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";

 main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #d6d5d5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.go-center {
  padding: 0 10px;
}

.fas, .fast-me {
  font-size: 107px;
  text-align: center;
  margin: 15px;
  color: #46a745;
}

.alert {
  border: 1px solid #000 !important;
  background-color: #28a745 !important;
  color: #fff !important;
}

ul.bd-footer-links {
  display: flex;
  list-style: none;
  margin-left: -50px;
  padding-top: 5px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-weight: bold;
}

.navbar-light .navbar-brand:hover {
  color: #fff;
  font-weight: bold;
}

.log-out {
  color: #ffff;
  border-color: #fff;
}

.color-change {
  color: #565656;
}

.color-change:hover {
  color: #565656;
  border-bottom: 1px solid #46a745;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.diff-color {
  background-color: #46a745 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.navbar-light .navbar-brand {
  color: #fff !important;
  font-weight: bold;
}

.btn-outline-secondary {
  color: #fff !important;
  border-color: #fff !important;
}

@media screen and (max-width: 795px) {
  li.screen-size {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .space-me {
    margin-top: 25px;
  }
}