<footer class="footer mt-auto py-3">
  <div class="container-fluid">
    <span class="text-muted">
      &copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script>. All rights reseved. Be Fit Center. 
    </span>
  </div>
</footer>